In [ ]:
#1. Write a Python program to evaluate the expression `5 + 3 * 2` and print the result.

print(5 + 3 * 2)

11

In [ ]:
#2. Write a program that calculates the result of `2 ** 3 + 5`

print(2 ** 3 + 5)

13

In [ ]:
# 3. Create a program that calculates the result of the expression '(10 - 3) * (2 + 4)'

print((10 - 3) * (2 + 4))

42

In [ ]:
#4. Write a program that calculates `15 // 4` and prints the result.

print(15 // 4)

3

In [ ]:
 #5. Write a Python code to find the remainder when dividing 15 by 4 (`15 % 4`)

 print(15 % 4)

3

In [ ]:
# 6. Create a variable `x` and assign it the value 42. Print its type using `type()`.

x = 42
print(type(x))

<class 'int'>

In [ ]:
# 7. Create a list `fruits = ['apple', 'banana', 'cherry']`. Print the type of this list.
fruits=['apple','banana','cherry'] #create a list with 3 fruits
print(fruits)
print(type(fruits)) #print type

['apple', 'banana', 'cherry']
<class 'list'>

In [ ]:
# 8. Create a variable `is_active` and assign it the value `True`. Print its type.
is_active=True

print(type(is_active)) #boolean as true or false are booleans

<class 'bool'>

In [ ]:
#9. Create a variable `price = 3.14`. Print its type

price=3.14

print(type(price)) #float since 3.14 is a decimal

<class 'float'>

In [ ]:
#10. Write a program to print the type of the string `'Hello World'`.
print(type('Hello World')) #using type to print type of string "Hello World"

<class 'str'>

In [ ]:
# 11. Create a list of your 3 favorite fruits and print it.

fruits=['apple','banana','cherry','grapes']
print(fruits)

['apple', 'banana', 'cherry', 'grapes']

In [ ]:
#12. Convert a tuple `('apple', 'banana', 'cherry')` into a list. Print the new list.
#create a tuple
my_tup=('apple', 'banana', 'cherry')
print(my_tup)
#print type
print(type(my_tup))
print("*"*50)
#convert tuple to list
tup2list=list(my_tup)
print(tup2list)
#print type
print(type(tup2list))

('apple', 'banana', 'cherry')
<class 'tuple'>
**************************************************
['apple', 'banana', 'cherry']
<class 'list'>

In [ ]:
#13. Create a list `my_list = [10, 20, 30]`. Access and print the first element of the list
my_list=[10,20,30]
# 10 is first element 20 is second and 30 is third but indexing goes as 0,1,2 respectively.
print(my_list[0])

10

In [ ]:
#14. Find the length of the list `[10, 20, 30]` and print it.
print(len(my_list))

3

In [ ]:
#15. Add the element `40` to the list `my_list = [10, 20, 30]` and print the updated list

my_list=[10,20,30]
my_list.insert(3,40) #can add one element at a specific index
print(my_list) #print updated list

my_list=[10,20,30] #reset list

my_list.append(40) #can add one element at the end
print(my_list) #print updated list

my_list=[10,20,30] #reset list
my_list.extend([40]) #can add multiple elements at the same time like [40,50,60]
print(my_list) #print updated list

[10, 20, 30, 40]
[10, 20, 30, 40]
[10, 20, 30, 40]

In [ ]:
#16. Write a `for` loop to print numbers from 1 to 5.
for i in range(6):
    print(i)

0
1
2
3
4
5

In [ ]:
#17. Write a `for` loop to print numbers from 3 to 5.
for i in range(3,6):
    print(i)

3
4
5

In [ ]:
#.18  Write a `for` loop to iterate over a list `['apple', 'banana', 'cherry']` and print each element
my_list=['apple','banana','cherry'] #create list
for i in my_list: #iterate over list
    print(i) # print each element

apple
banana
cherry

In [ ]:
#  19. Print the square of numbers from 1 to 4 using a `for` loop
for i in range(1,5): #1 to 5 but not including 5 so 1 to 4
    print(f"{i}² = {i**2}")

1² = 1
2² = 4
3² = 9
4² = 16

In [ ]:
#20. Write a `for` loop that prints `i * 2` for `i` in the range of 5.
for i in range(1,6): #1 to 6 but not including 5 so 1 to 5
    print(f"{i} x 2 = {i*2}")

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10

In [ ]:
# 21. Write a `while` loop that prints numbers from 1 to 5.
num=1 #initialize num
while num<=5: #while loop w condition
  print(num) #print number
  num+=1 #increment by 1

1
2
3
4
5

In [ ]:
# 22. Write a `while` loop that prints numbers from 0 to 3.
num=0 #initialize num
while num<=3: #while loop w condition
  print(num) #print number
  num+=1 #increment by 1

0
1
2
3

In [ ]:
#23. Write a `while` loop that calculates and prints the sum of numbers from 1 to 10.

num=1
sum=0
while num<=10:
    sum+=num
    num+=1
print(sum)

55

In [ ]:

num = 1
mul=1
while num<=4:
    mul*=num
    num+=1
print(mul)

24

In [ ]:
#25. Write a `while` loop that prints numbers from 10 to 1, decrementing by 1 each time.
num=10
while num>0:
  print(num)
  num-=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# 26. Write a program that checks if a number is positive, negative, or zero
num=int(input("Enter a number: "))

if num==0:
  print("Number is zero")
elif num<0:
  print(f"{num} is negative")
else:
  print(f"{num} is positive")

Enter a number: 3
3 is positive

In [ ]:
# 27. Write a program that checks if a number is even or odd using `if-else`.
num=int(input("Enter a number: "))
if num % 2 ==0:
  print(f"{num} is even")
else:
  print(f"{num} is odd")

Enter a number: 4
4 is even

In [ ]:
#28. Write a program that checks if a number is greater than 10 and prints 'Greater', otherwise prints 'Smaller'
num=int(input("Enter a number: "))

if num>10:
  print(f"{num} is greater than 10")
else:
  print(f"{num} is smaller than 10")

Enter a number: 9
9 is smaller than 10

In [ ]:
#29. Write a program that prints the grade based on a score: A (90-100), B (70-89), C (50-69), and D (0-49)
score=int(input("enter score: "))

if score>=90 and score<=100:
  print("A")
elif score>=70 and score<=89:
  print("B")
elif score>=50 and score<=69:
  print("C")
else:
  print("D")

enter score: 98
A

In [ ]:
# 30. Write a program that checks if a number is divisible by 5 and prints 'Divisible' or 'Not Divisible'.
num=int(input("Enter a number: "))

if num%5==0:
  print("Divisible by 5")
else:
  print("Not divisible by 5")

Enter a number: 4
Not divisible by 5

In [ ]:
 #31. Write a function `add_numbers(a, b)` that returns the sum of two number
def add(a,b):
  return(a+b)


print("approach 1 result: ",add(2,3)) #add(2,3)

def anyadd(*args):
  total=0
  for i in args:
    total+=i
  return(total)

print("approach 2 result: ", anyadd(2,3))

approach 1 result:  5
approach 2 result:  5

In [ ]:
#32. Write a function `revstr(s)` that returns the reverse of a string
def revstr(s):
  return(s[-1: :-1])


mystr=input("Enter a string to be reversed : ")
revstr(mystr)

Enter a string to be reversed : halladba

'abdallah'

In [ ]:
# 33. Write a function that returns the maximum of three numbers.
#take 3 numbers input
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
c=int(input("Enter third number: "))
print("_"*50)
def great(a,b,c):
  if a>b and a>c: # #if one element is greater than other two we can say it is greatest
    print(f"{a} is greater than {b} and {c}")
  elif b>a and b>c:
    print(f"{b} is greater than {a} and {c}")
  else: #no other cases left so we can say c is the greatest
    print(f"{c} is greater than {a} and {b}")

great(a,b,c)

Enter first number: 10
Enter second number: 20
Enter third number: 30
__________________________________________________
30 is greater than 10 and 20

In [ ]:
#34. Write a function that calculates the factorial of a number using a loop.
def factor(num):
  list=[]
  while num>0:
    list.append(num)
    num-=1
  fact=1
  for i in list:
    fact*=i

  return fact

numb=int(input("Enter a number: "))
print(f"factorial of {numb} is {numb}! =",factor(numb))

Enter a number: 4
factorial of 4 is 4! = 24

In [ ]:
# 35. Write a function `multiply(a, b)` that returns the product of two numbers and prints the result.
def multiply(a,b):
  return(a*b)

multiply(2,3)

6

In [ ]:
#36. Write a lambda function that adds two numbers and prints the result.
add=lambda a,b:a+b #lambda takes a and b as paramters and returns sum

add(2,3) #sum of 2 & 3

5

In [ ]:
#37. Use a lambda function to square a number and print the result
#two ways to square a*a or a**2 eg: (2*2 or 2**2 both will give 4) we will do both
sq=lambda a:a*a
sq2=lambda a:a**2
num=int(input("Enter a number to square: "))
print(f"Approach 1: {num}² = ",sq(num))
print(f"Approach 2: {num}² = ",sq2(num))

Enter a number to square: 5
Approach 1: 5² =  25
Approach 2: 5² =  25

In [ ]:
#38.
# i)Use a lambda function to cube a number and print the result
#similar to previous code we will use two approaches for cubing
cube=lambda a:a*a*a
cube2=lambda a:a**3
num=int(input("Enter a number to cube: "))
print(f"Approach 1: {num}³ = ",cube(num))
print(f"Approach 2: {num}³ = ",cube2(num))

Enter a number to cube: 3
Approach 1: 3³ =  27
Approach 2: 3³ =  27

In [ ]:
#38.
# ii)Write a lambda function to find the cube of a number and call it with the value `3`
op=lambda a,val:a**val
num=int(input("Enter a number : "))
val=int(input("Enter 2 for square and 3 cube and so on... : "))


print(f"{num}^{val} = ",op(num,val))

Enter a number : 2
Enter 2 for square and 3 cube and so on... : 3
2^3 =  8

In [ ]:
# 39. Write a lambda function that filters even numbers from the list `[1, 2, 3, 4, 5, 6]`
even=lambda list:[i for i in my_list if i%2==0] #works like for i in my_list: if i%2==0: return i
my_list=[1,2,3,4,5,6]
print(even(my_list))

[2, 4, 6]

In [ ]:
#40. Write a lambda function that checks if a number is positive or not give true or false respectively
pos=lambda a:[f"True, {a} is positive" if a>0 and a!=0 else f"False, {a} not positive"]

num=int(input("Enter a number: "))
print(pos(num))

Enter a number: 2
['True, 2 is positive']

In [14]:
#41. use map to multiply the numbers by 2 in the list `[1, 2, 3, 4]`
def multwo(a):
  return(a*2) #multiply by 2

my_list=[1,2,3,4]
twomul=list(map(multwo,my_list)) #map to multiply list numbers by 2
print(twomul)

[2, 4, 6, 8]

In [ ]:
#42. map to square the numbers in the list `[1, 2, 3, 4, 5]`
def square(a):
    return a * a

sq_num = map(square, [1, 2, 3, 4, 5])
print(list(sq_num))

[1, 4, 9, 16, 25]

In [ ]:
#43 use map to convert a list of strings to integers
def conv(a):
  ilist=[] #empty list
  for i in a:
    i=int(i) #convert string to int
    ilist.append(i) #append to list
  return ilist
my_list=['1','2','3'] #list
makeint=list(map(conv,my_list)) #map to convert string to int
print(makeint)

[[1], [2], [3]]

In [ ]:
#44 use map to square the numbers in the list `[1, 4, 9, 16]`
def square(a):
    return a * a

sq_num = map(square, [1, 4, 9, 16])
print(list(sq_num))

[1, 16, 81, 256]

In [ ]:
#45 use map to capitalize the names in the list `[“hello”, “world”]` as Hello, World
def capper(a):
    return a.capitalize() #capitalize the string

my_list = ["hello", "world"] #list with strings hello and world
cap = list(map(capper, my_list)) #map to capitalize
print(cap) #print the list with capitalized strings

['Hello', 'World']

In [ ]:
#46. use filter to filter out the even numbers from the list
def iseven(a):
  if a%2==0:
    return True
  else:
    return False

my_list=[1,2,3,4,5,6]
even=filter(iseven,my_list)

for i in even:
  print(i)

2
4
6

In [ ]:
#47. use filter to filter out the numbers that are greater than 3
def greaterthan(a):
  if a>=3: #if number is greater than or equal to 3
    return True #return true
  else:
    return False #else return false
greater=filter(greaterthan,my_list) #filter numbers greater than 3

for i in greater:
  print(i)

3
4
5
6

In [ ]:
#48. use filter to filter out the strings that are longer than 3 in length
def lent(a):
  if len(a)>3: #if length of string is greater than 3 True Else False
    return True
  else:
    return False

my_lis2=['Tom','Jack','Bob','Alice'] #list with names

lentt=filter(lent,my_lis2) #filter names longer than 3

for i in lentt:
  print(i)

for i in lentt:
  print(i)

Jack
Alice

In [ ]:
#49. use filter to filter out the negative numbers
def checkneg(a):
  if a>0 and a!=0:
    return False
  else:
    return True
my_list3=[-1,-2,3,4,-5]

negcheck=filter(checkneg,my_list3)

for i in negcheck:
  print(i)

-1
-2
-5

In [ ]:
#50. Use `filter()` to find all numbers divisible by 3 from the list `[1, 2, 3, 4, 5,6]`
def divthree(a):
  if a%3==0: #if number is divisible by 3 true else false
    return True
  else:
    return False

my_list4=[1,2,3,4,5,6] #giving list

threediv=filter(divthree,my_list4) #filtering numbers divisible by 3
for i in threediv:
  print(i)

3
6

In [ ]:
#51. Write a program that prints numbers from 1 to 5, but breaks the loop when it reaches 3
for i in range(1,6):
  if i==3:
    break #break at 3
  print(i)

1
2

In [ ]:
# 52. Write a program that prints numbers from 1 to 5, but skips 3 using `continue`.
for i in range(1,6):
  if i==3:
    continue #skip 3
  print(i)

1
2
4
5

In [ ]:
#53. Write a program that prints numbers from 1 to 5, but breaks the loop when number is greater than 4
for i in range(1,6):
  if i>4:
    break
  print(i)

1
2
3
4

In [ ]:
#54. Write a program that prints even numbers from 1 to 10 using `continue`.
for i in range(1,11):
  if i%2!=0:
    continue
  print(i)

2
4
6
8
10

In [ ]:
#55. Write a program that prints numbers from 1 to 5, but breaks the loop when negative number is encountered
my_list5=[1, 2, 3, -1, 4]

for i in my_list5:
  if i<0: #if number is negative
    break #it will break the loop i.e not print -1 and stop
  print(i)

1
2
3

In [2]:
#56. Write a program that uses `enumerate()` to print the index and value of each element in the list `['apple', 'banana', 'cherry']`.
my_list=['apple','banana','cherry']
for index,name in enumerate(my_list): #index and name are variables and my_list is the list which will be iterated
  print(index,name)

0 apple
1 banana
2 cherry

In [11]:
#57. Write a program to unzip the list of tuples `[(1, 'a'), (2, 'b'), (3, 'c')]` into two separate lists
my_list=[(1, 'a'), (2, 'b'), (3, 'c')] #list of tuples

nl=list(zip(*my_list))  #unzip list of tuples by using zip(*_____)
print(nl) #print unzipped list
l1,l2=map(list,nl) #make two lists l1 -> [1,2,3] and l2 -> ['a','b','c'] from unzipped list of tupples
print(l1)
print(l2)

[(1, 2, 3), ('a', 'b', 'c')]
[1, 2, 3]
['a', 'b', 'c']

In [12]:
# 58. Write a program that zips two lists `['apple', 'banana']` and `[1, 2]` and prints the result.
#two lists
l1=['apple', 'banana']
l2=[1,2]
#zip two lists into one
nl=list(zip(l1,l2))
print(nl)

[('apple', 1), ('banana', 2)]

In [13]:
#59. Write a program to find the sum of corresponding elements in two lists `a = [1, 2, 3]` and `b = [4, 5, 6]` using `zip()`
# Create two lists a and b
a = [1, 2, 3]
b = [4, 5, 6]

# Find the sum of elements using zip()
sums = [x + y for x, y in zip(a, b)] #sum of elements in zipped a and b

print(sums)

[5, 7, 9]

In [15]:
# 60. Use `enumerate()` to loop over a list of names and print each name with its index
names=['John','Alice','Bob'] #list of names
for index,name in enumerate(names): #loop over the list with enumerate
  print(index,name) #print name with index

0 John
1 Alice
2 Bob